<html ng-app="app">
<head>
    <link rel="stylesheet" href="lib/reveal.js/css/reveal.css">
    <link rel="stylesheet" href="lib/reveal.js/css/theme/white.css">
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <title> Dwayne Page </title>
</head>
<body ng-controller="myController">

    <div class="reveal">
        <div class="slides">
            <section>
                Promise - proposed 1976 by Daniel P. Friedman. The value
                is unknown because the computation is not complete.
            </section>
            <section>
                A javascript object that will, eventually, return a value. Your code does not wait. 
            </section>
            <section>
                <section>Different standards and Implementations. </section>
                <section> Promises/A  <br />
                    http://wiki.commonjs.org/wiki/Promises/A
                </section>
                <section>
                    Promises/A+  <br />
                    https://promisesaplus.com/
                </section>
                <section>
                    bluebird <br />
                    http://bluebirdjs.com/docs/getting-started.html
                </section>
                <section>
                    q, the one used by angular <br />
                    https://github.com/kriskowal/q
                </section>
                <section>
                    ES6 (ECMAScript, ie javascript)  <br />
                    https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise <br />
                    This will likely be the standard in the future, part of core javascript. 
                </section>
            </section>
            <section>
                <h3>States and fates</h3>
                <ol>
                    <li> fulfilled</li>
                    <li> rejected </li>
                    <li> pending </li>
                </ol>
                <h4> Fates </h4>
                <ol>
                    <li>
                        resolved (to another promise or discrete value)
                    </li>
                    <li> unresolved</li>
                </ol>
            </section>
            <section>
                Resolved promises can be 
                <div>
                            fulfilled, rejected, or pending.
                </div>
                <p>
                    Fulfilled if it is finished, rejected if it has been rejected or is currently rejecting.
                    Pending if it has been resolved to another promise.
                </p>
            </section>
            <section>
                Unresolved promises are pending.
            </section>
            <section>
                <h3> Commonly found misused idiom </h3>
                $http.get returns a promise already, there is <i>almost always</i> no need to wrap in $q.defer(). This is the most
                commonly found misuse. Not really bad, just superflous. 
            </section>
            <section>
                <div class="row">
                    <div class="col-lg-6">
                        <h3>A simple promise</h3>

                        <pre>
$scope.getData = function (url) {
    return $http.get(url).then(
        function success(response) {
            $scope.worked = true
        },
        function failure(reason) {
            $scope.worked = false
        }
    )
}
    </pre>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-default" ng-click="getData('/common/SampleData.json')">Works</button>
                        <button class="btn btn-default" ng-click="getData('/nowork')">Fail, wrong URL</button>

                        <div> <h3>{{ worked }}</h3> </div>

                    </div>
                </div> <!-- End Row -->
            </section>
            <section>
                <div class="row">
                    <div class="col-lg-6">
                        <h3> Promise Anti Pattern </h3>
<pre>
// In the Controller
$scope.getFromFactory = function (url) {
    myFactory.getData(url).then(
        function success() {
            $scope.worked = true
        }), function failure() {
            $scope.worked = false
        }
}
// In the factory
getData: function (url) {
    return $http.get(url).then(
        function success(response) {
            return response.data
        },
        function failure(reason) {
            return reason // Does not return promise
        }
    )
}
</pre>
                    </div>
                    <div class="col-lg-6">
                        <h3></h3>
                        <button class="btn btn-default" ng-click="getFromFactory('/common/SampleData.json')">Works</button>
                        <button class="btn btn-default" ng-click="getFromFactory('/nowork')">Fail, wrong URL</button>

                        <div> <h3>{{ worked }}</h3> </div>
                    </div>


                </div>
            </section>
            <section>

                <div class="row">
                    <div class="col-lg-6">
                        <h3> Better </h3>
                        <pre>
// In the Controller
$scope.getFromFactoryGOOD = function (url) {
    myFactory.getDataGOOD(url).then(
        function success() {
            $scope.worked = true
        }, function failure() {
            $scope.worked = false
        })
}
                    
// In the factory
getDataGOOD: function (url) {
    return $http.get(url).then(
        function success(response) {
            console.log(response.data)
            return response.data
        }
    )
}
</pre>
                    </div>
                    <div class="col-md-6">
                        <h3></h3>
                        <button class="btn btn-default" ng-click="getFromFactoryGOOD('/common/SampleData.json')">Works</button>
                        <button class="btn btn-default" ng-click="getFromFactoryGOOD('/nowork')">Fail, wrong URL</button>

                        <div> <h3>{{ worked }}</h3> </div>
                    </div>
                </div> <!-- End Row -->
            </section>
            <section>

                <div class="row">
                    <div class="col-lg-6">
                        More Complicated
                        <pre>
function initialize() {
    var _url = "/common/timeZoneData.json";
    return $http({
        method: 'GET',
        url: _url
    }).then(function successCallback(response) {
        for (var i = 0; i < response.data.zones.length; i++) {
            moment.tz.add(response.data.zones[i]);
        }
    }).then(function () {
        return getTasks()
    }).then(function () {
        return addLate()
    }).catch(function () {
        sweetAlertFactory.note("Error getting time zone information!");
    })
}
</pre>
                        </div>

                    <div class="col-md-6">
                        <h3>Full circle back to synchronous code? Not quite, no waiting</h3>

                    </div>

                </div> <!-- End Row -->


            </section>
            <section>
                <p>
                    Every .then returns a function. Catch Method is used as best practice
                </p>
            </section>
        </div>
    </div>
    <script src="lib/reveal.js/js/reveal.js"></script>
    <script>
            Reveal.initialize();
    </script>
    <script type="text/javascript" src="lib/reveal.js/js/reveal.js"></script>
    <script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="myController.js"></script>
    <script type="text/javascript" src="myFactory.js"></script>
</body>
</html>